/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: #d1d1d1;
  color: #000;
  padding: 4em;
}

header {
  font-size: 300%;
}

a {
  font-family: "Georgia", serif;
}

p {
  font-size: 50px;
}

ul {
  font-family: "Georgia", serif;
  font-size: 150%;
}

li {
  font-family: "Georgia", serif;
  font-size: 50px;
  margin-top: 120px;
}

li ol,
li ol ol li {
  margin-top: 40px;
}

button {
  display: block;
  margin: auto;
  margin-top: 20px;
  padding: 15px;
  background-color: white;
  font-family: verdana, sans-serif;
  font-size: 15px;
  border-radius: 7px;
}

pre {
  font-family: monospace;
  font-size: 20px;
}




header {
  color: white;
}

.subquestion {
  margin-top: 120px;  
}

.answer,
.subanswer {
  font-size:75%;
  margin: 40px 40px 40px 0;
}




.avant-pop, .experimental, .ambient {}

.avant-pop.with-color.with-font-style {
  color: green;
  font-family: Brush Script MT, cursive;
}

.experimental.with-color.with-font-style  {
  color: grey;
  font-family: Comic Sans MS, sans-serif;
}

.ambient.with-color.with-font-style  {
  color: red;
  font-family: Luminari;
}
